@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* IMPOSTAZIONI GENERALI */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url(../img/sfondo.png);
  background-position: center -30%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
header {
  background: linear-gradient(180deg, rgba(0, 160, 195, 1) 0%, rgba(6, 105, 136, 1) 100%);
  margin: 4%;
  text-align: center;
  padding-block: 20px;
  box-shadow: -2px 2px 7px 0px #6d6860;
}

header * {
  margin-bottom: 20px;
}

header li {
  margin-bottom: 4px;
}

header img {
  width: 250px;
}

header p,
a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
/* MAIN */
main {
  background-color: white;
  margin: 4%;
  text-align: center;
  box-shadow: -2px 2px 7px 0px #6d6860;
}

main * {
  text-align: left;
  padding-inline: 7px;
  line-height: 23px;
}

/* ELEMENTI NEL MAIN - ARTICLE */

h1 {
  padding-block: 25px;
  font-size: 25px;
  font-weight: 500;
  color: #010001;
  letter-spacing: -1px;
  line-height: 30px;
}
h2 {
  padding-top: 25px;
  padding-bottom: 0;
}
.caption {
  color: #a2a0a3;
  font-size: 14px;
}

.caption i {
  display: inline;
  padding: 0;
}

article p {
  padding-block: 15px;
}

article strong {
  font-weight: 500;
  color: #aa2072;
}

main ul {
  list-style: disc;
}

main ol {
  list-style: decimal;
}

main ul,
ol {
  padding-inline-start: 30px;
}

ul code {
  background-color: #dfdfdf;
  border-radius: 5px;
  border: 1px, solid #afb1b0;
}
/* TABELLE */
table caption {
  font-weight: 600;
  font-style: italic;
  text-align: center;
  padding-top: 30px;
}

table {
  border-bottom: 2px solid #3366cc;
}

thead {
  background-color: #4e79d1;
}

th {
  border: 1px solid white;
  border-collapse: collapse;
  vertical-align: bottom;
}

.white {
  text-align: center;
  border-bottom: 1px solid #e5e5e6;
}

.gray {
  text-align: center;
  border-bottom: 1px solid #e5e5e6;
  background-color: #f1f1f1;
}

td,
th {
  padding: 13px;
  text-align: center;
}

.link {
  color: #18a5d0;
  text-decoration: underline;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  border-radius: 30px;
}
/* FORM */

.form {
  background-color: #e6dee0;
  text-align: center;
  padding-bottom: 15px;
  margin-top: 40px;
}

.form h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

input {
  border: none;
  border-bottom: 1px dotted black;
}

button {
  border: none;
  background-color: #4a76cf;
  color: white;
  font-weight: 500;
}
/* ELEMENTI NELL' ASIDE */
aside {
  padding-bottom: 10px;
}
aside h2 {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 40px;
}

.article {
  background-color: #e6dee0;
  margin-block: 10px;
}

.related {
  padding-top: 40px;
}

.date {
  font-size: 12px;
  text-align: right;
  padding-top: 25px;
  padding-bottom: 15px;
}

/* FOOTER */
footer {
  background: linear-gradient(180deg, rgba(0, 85, 102, 1) 0%, rgba(44, 54, 56, 1) 100%);
  margin: 4%;
  text-align: center;
  box-shadow: -2px 2px 7px 0px #6d6860;
  color: white;
}

footer p {
  padding-block: 15px;
}

address {
  font-size: 14px;
  padding-bottom: 15px;
  line-height: 23px;
}

address a {
  color: #ff00fe;
  text-decoration: underline;
}
